<div class="container">
<div class="row justify-content-md-center align-items-center">
<div class="col-4">
<form method = "POST">
  <div class="form">
    <div class="col">
      <label for="title" class="form-label">Title</label>
      <input type="text" name="title" class="form-control" required>
    </div>
    <div class="col">
      <label for="pub" class="form-label">Publisher</label>
      <input type="text" name="pub" class="form-control" required>
    </div>
    <div class="col">
      <label for="isbn" class="form-label">ISBN</label>
      <input type="text" name="isbn" class="form-control" required>
    </div>
    <div class="col">
      <label for="author" class="form-label">Author</label>
      <input type="text" name="author" class="form-control" required>
    </div>
    <div class="col">
      <label for="category" class="form-label">Category</label>
      <input type="text" name="category" class="form-control" required>
    </div>
    <div class="col">
      <label for="price" class="form-label">Price</label>
      <input type="number" name="price" class="form-control" required>
    </div>
    <div class="col">
      <label for="count" class="form-label">Count</label>
      <input type="number" name="count" class="form-control" required>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Add</button>
</form>
</div>
</div>
</div>